---
---

@import "{{ site.theme }}";

header {
  display: none;
}
.homebutton {
  display: block;
  text-align: center;
  padding: 40px 40px;
  border: 1px solid #be002c;
  border-radius: 8px;
  background: #ff0053;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0053), to(#be002c));
  background: -moz-linear-gradient(top, #ff0053, #be002c);
  background: linear-gradient(to bottom, #ff0053, #be002c);
  text-shadow: #70001a 1px 1px 1px;
  font: normal normal bold 20px arial;
  color: #ffffff;
  text-decoration: none;
}
.homebutton:hover,
.homebutton:focus {
  border: 1px solid #e00034;
  background: #ff0064;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0064), to(#e40035));
  background: -moz-linear-gradient(top, #ff0064, #e40035);
  background: linear-gradient(to bottom, #ff0064, #e40035);
  color: #ffffff;
  text-decoration: none;
}
.homebutton:active {
  background: #be002c;
  background: -webkit-gradient(linear, left top, left bottom, from(#be002c), to(#be002c));
  background: -moz-linear-gradient(top, #be002c, #be002c);
  background: linear-gradient(to bottom, #be002c, #be002c);
}


.lysbutton {
  display: block;
  text-align: center;
  padding: 40px 420px;
  border: 1px solid #c01464;
  border-radius: 8px;
  background: #ff25bd;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff25bd), to(#c01464));
  background: -moz-linear-gradient(top, #ff25bd, #c01464);
  background: linear-gradient(to bottom, #ff25bd, #c01464);
  text-shadow: #710c3b 1px 1px 1px;
  font: normal normal bold 30px arial;
  color: #ffffff;
  text-decoration: none;
}
.lysbutton:hover,
.lysbutton:focus {
  border: 1px solid #e21776;
  background: #ff2ce3;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2ce3), to(#e61878));
  background: -moz-linear-gradient(top, #ff2ce3, #e61878);
  background: linear-gradient(to bottom, #ff2ce3, #e61878);
  color: #ffffff;
  text-decoration: none;
}
.lysbutton:active {
  background: #c01464;
  background: -webkit-gradient(linear, left top, left bottom, from(#c01464), to(#c01464));
  background: -moz-linear-gradient(top, #c01464, #c01464);
  background: linear-gradient(to bottom, #c01464, #c01464);
}

.musikkbutton {
  display: block;
  text-align: center;
  padding: 40px 400px;
  border: 1px solid #2b80a0;
  border-radius: 8px;
  background: #46d2ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#46d2ff), to(#2b80a0));
  background: -moz-linear-gradient(top, #46d2ff, #2b80a0);
  background: linear-gradient(to bottom, #46d2ff, #2b80a0);
  text-shadow: #1f5c72 1px 1px 1px;
  font: normal normal bold 30px arial;
  color: #ffffff;
  text-decoration: none;
}
.musikkbutton:hover,
.musikkbutton:focus {
  border: 1px solid #3db7e4;
  background: #54fcff;
  background: -webkit-gradient(linear, left top, left bottom, from(#54fcff), to(#349ac0));
  background: -moz-linear-gradient(top, #54fcff, #349ac0);
  background: linear-gradient(to bottom, #54fcff, #349ac0);
  color: #ffffff;
  text-decoration: none;
}
.musikkbutton:active {
  background: #2b80a0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b80a0), to(#2b80a0));
  background: -moz-linear-gradient(top, #2b80a0, #2b80a0);
  background: linear-gradient(to bottom, #2b80a0, #2b80a0);
}

.spillbutton {
  display: block;
  text-align: center;
  padding: 40px 410px;
  border: 1px solid #629300;
  border-radius: 8px;
  background: #a0ef00;
  background: -webkit-gradient(linear, left top, left bottom, from(#a0ef00), to(#629300));
  background: -moz-linear-gradient(top, #a0ef00, #629300);
  background: linear-gradient(to bottom, #a0ef00, #629300);
  text-shadow: #3e5c00 1px 1px 1px;
  font: normal normal bold 30px arial;
  color: #ffffff;
  text-decoration: none;
}
.spillbutton:hover,
.spillbutton:focus {
  border: 1px solid #7bb800;
  background: #c0ff00;
  background: -webkit-gradient(linear, left top, left bottom, from(#c0ff00), to(#76b000));
  background: -moz-linear-gradient(top, #c0ff00, #76b000);
  background: linear-gradient(to bottom, #c0ff00, #76b000);
  color: #ffffff;
  text-decoration: none;
}
.spillbutton:active {
  background: #629300;
  background: -webkit-gradient(linear, left top, left bottom, from(#629300), to(#629300));
  background: -moz-linear-gradient(top, #629300, #629300);
  background: linear-gradient(to bottom, #629300, #629300);
}
.site{
  width:900px
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 218px 218px;
  gap: 10px 10px;
  grid-auto-flow: row;
  align-items: stretch;
  grid-template-areas:
    "lysbutton1 lysbutton2 lysbutton3 lysbutton4"
    "lysbutton5 lysbutton6 lysbutton7 lysbutton8";
}

.lysbutton1 { grid-area: lysbutton1; }
.lysbutton2 { grid-area: lysbutton2; }
.lysbutton3 { grid-area: lysbutton3; }
.lysbutton4 { grid-area: lysbutton4; }
.lysbutton5 { grid-area: lysbutton5; }
.lysbutton6 { grid-area: lysbutton6; }
.lysbutton7 { grid-area: lysbutton7; }
.lysbutton8 { grid-area: lysbutton8; }

.litenlysbutton {
  display: block;
  text-align: center;
  border: 1px solid #c01464;
  border-radius: 8px;
  background: #ff25bd;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff25bd), to(#c01464));
  background: -moz-linear-gradient(top, #ff25bd, #c01464);
  background: linear-gradient(to bottom, #ff25bd, #c01464);
  text-shadow: #710c3b 1px 1px 1px;
  font: normal normal bold 20px arial;
  color: #ffffff;
  text-decoration: none;
  align-items:center
}
.litenlysbutton:hover,
.litenlysbutton:focus {
  border: 1px solid #e21776;
  background: #ff2ce3;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2ce3), to(#e61878));
  background: -moz-linear-gradient(top, #ff2ce3, #e61878);
  background: linear-gradient(to bottom, #ff2ce3, #e61878);
  color: #ffffff;
  text-decoration: none;
}
.litenlysbutton:active {
  background: #c01464;
  background: -webkit-gradient(linear, left top, left bottom, from(#c01464), to(#c01464));
  background: -moz-linear-gradient(top, #c01464, #c01464);
  background: linear-gradient(to bottom, #c01464, #c01464);
}

